header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.bannerLeft {
    display: flex;
    flex-direction: row;
}

.bannerRight {
    display: flex;
    flex-direction: row;
}